h1 orders
#orders.orders
ul
  each order, i in orders
    li(id = '#{order._id}')
      span #{order._id}
      ul
        each brevage, i in order.brevages
          li(id = '#{brevage._id}')
            span #{brevage.name}
      span #{order.status}
      button pending
      button ready
