extends ../layoutWaitress.jade

block content
  script(src='/js-static/order.js')
  .row-fluid
    .box.black.span12(ontablet='span12', ondesktop='span12')
      .box-header
        h2
          i.halflings-icon.white.list
          span.break
          | Orders
        .box-icon
          a.btn-minimize(href='#')
            i.halflings-icon.white.chevron-up
          a.btn-close(href='#')
            i.halflings-icon.white.remove
      .box-content
        ul.dashboard-list.metro
          each order, i in orders
            li
              a.dropmenu(href='#')
                i.icon-arrow-down.red
                strong items #{order.brevages.length}
                |  #{order.clientId.name}  #{order.clientId.lastName}
                span(style="float:right;font-size:12px" onclick="changeOrderStatus('#{order._id}', '#{user._id}')") assign
                span.label.label-important(style="float:right;font-size:12px") #{order.status}
              ul(style='display: none;')
                li
                  a.submenu(href='submenu.html')
                    i.icon-file-alt
                    span.hidden-tablet  Sub Menu 1
                li
                  a.submenu(href='submenu2.html')
                    i.icon-file-alt
                    span.hidden-tablet  Sub Menu 2
                li
                  a.submenu(href='submenu3.html')
                    i.icon-file-alt
                    span.hidden-tablet  Sub Menu 3
